.vscode/**
.vscode-test/**
src/**
out/test/**
out/**/*.map
**/*.ts
tsconfig.json
.gitignore
.editorconfig
*.vsix
node_modules/**
package-lock.json
media/make_icon.py
media/icon-256.png
media/screenshot-*.png
docs/**
